*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-size: 21px;
  font-family: 'Roboto Condensed', sans-serif;
  min-height: 100vh;
}

header {
  display: flex;
  min-height: 300px;
  height: 40vh;
  flex-direction: column;
  justify-content: space-around;
  background-color: #A1B5D8;
  padding: 20px 20px 20px 20px;
  .title {
    flex: 2;
    text-align: center;
    margin: auto;
    display: flex;
    h1 {
      margin: auto;
      color: #FFFCF7;
      font-family: 'Raleway', sans-serif;
      font-size: 300%;
    }
  }
  .intro {
    flex: 1;
    margin: 0 auto 20px auto;
    color: #E4F0D0;
    p {
      font-size: 21px;
      text-align: center;
    }
    .introText {
      text-align: center;
      font-size: 16px;
      color: #738290;
      // margin: 0 200px;
    }
  }
}

main {
  display: flex;
  background-color: #C2D8B9;
  color: #FFFCF7;
  min-height: 460px;
  height: 55vh;
  margin-bottom: 0;
}

.container {
    display: flex;
    margin: auto;
    padding: 0 50px;
    text-align: center;
  }
  
form {
  display: flex;
  flex-direction: column;
  flex: 1;
  .selectForm{
    display: flex;
    margin-bottom: 40px;
    label {
      padding: 4px 0;
      text-align: left;
      flex: 2;
    }
    select {
      margin-left: 10px;
      padding: 3px 0;
      font-size: 21px;;
      text-align: center;
      height: 30px;
      flex: 1;
      box-shadow: 0 1px 1px 1px rgba(0, 0, 0, 0.2);
      border-radius: 5px;
      border: none;
      background-color: #738290;
      color: #FFFCF7;
      transition: all 1s;
    }
    select:hover {
      cursor: pointer;
      background-color: lighten($color: #738290, $amount: 10%);
    }
  }
  .fromForm {
    flex: 1;
  }
  .toForm {
    flex: 1;
  }
  .inputBox {
    flex: 1;
    display: flex;
    .numberInput {
      flex: 2;
      order: 2;
      text-align: center;
      margin-left: 40px;
      height: 40px;
      width: 250px;
      border: none;
      border-radius: 5px;
      box-shadow: 0 1px 1px 1px rgba(0, 0, 0, 0.2);
      background-color: #738290;
      color: #FFFCF7;
      transition: all 1s;
    }
    .numberInput::placeholder{
      color: darken(#FFF, 20%);
    }
    .numberInput:hover {
      background-color: lighten($color: #738290, $amount: 10%);
    }
    button {
      font-size: 21px;
      flex: 1;
      margin-right: 10px;
      border: none;
      border-radius: 5px;
      box-shadow: 0 1px 1px 1px rgba(0, 0, 0, 0.2);
      background-color: #A1B5D8;
      color: #FFFCF7;
      transition: all 1s;
    }
    button:hover {
      background-color: #FFFCF7;
      color: #A1B5D8;
    }
  }
}


.resultBox {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 2;
  margin-left: 40px;
  .resultTitle {
    margin: 40px 0 8px 0;
  }
  .resultField {
    display: flex;
    flex: 1;
    height: 50%;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 2px;
    font-size: 25px;
    white-space: pre-line;
    box-shadow: 0 1px 1px 1px rgba(0, 0, 0, 0.2);
    .result {
      margin: auto;
      color: #738290;
    }
  }
}

footer {
  display: flex;
  align-items: center;
  background-color: #FFFCF7;
  height: 5vh;
  p {
    margin: auto;
    padding: 5px 0 5px 0;
    color: #738290;
  }
}

@media only screen and (max-width: 810px){
  header {
    .title {
      h1 {
        font-size: 250%;
      }
    }
    .intro {
      p {
        font-size: 16px;
      }
      .introText {
        font-size: 12px;
      }
    }
  }
  .container {
    flex-direction: column;
  }
  .resultBox {
    margin-left: 0;
  }
}

@media only screen and (max-width: 485px){
  main {
    .container {
      form {
        .selectForm {
          flex-direction: column;
          margin-bottom: 0;
          label {
            margin-left: 50px;
          }
          select {
            margin: 0 50px 0 50px;
          }
        }
        .toForm {
          margin-bottom: 30px;
        }
        .inputBox {
          flex-direction: column;
          .numberInput {
            order: 0;
            margin: 0 auto;
            padding: 15px 0;
          }
          button {
            padding: 5px 0;
            margin: 30px 50px 0 50px;
          }
        }
      }
    }
  }
}
