.container {
    margin: 250px auto;
    text-align: center;
  }
  
  .result {
    height: 20px;
    width: 100px;
    margin: 0 auto;
    color: magenta;
  }
  div {
    margin: 10px;
    text-align: center;
  }